:root {
    --primary: #111827;
    --secondary: #2563EB;
    --accent: #F59E08;
    --bg: #F9FAF8;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-weight: 400;
    font-size: 1.2rem;
    font-family: inter;
}

h1,
h2,
h3,
h4,
p {
    overflow-wrap: break-word;
}

h2 {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 1em;
}

h2::after,
h2::before {
    content: "";
    border-top: 0.1em double var(--primary);
    align-self: center;
}

button,
li {
    cursor: pointer;
}

.container {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

img {
    max-width: 100%;
    height: auto;
}


/* Section */

.section {
    padding-block: 4rem;
    background-color: var(--bg);
}

.hero {
    padding: 5rem 0;
    background: var(--primary);
    color: var(--bg);
}

.hero--wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.hero--content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}

.hero--content h1 {
    line-height: 1.1;
    max-width: 24ch;
}

.hero--content p {
    max-width: 50ch;
    color: var(--bg);
}

.hero--btn {
    width: fit-content;

    padding: 1rem 2rem;

    border: none;
    border-radius: 0.5rem;

    background: var(--accent);
    color: var(--bg);

    font-size: 1rem;
    font-weight: 600;

    cursor: pointer;

    transition: 0.3s ease;
}

.hero--btn:hover {
    transform: translateY(-2px);
    opacity: 0.9;
}

.hero--reviews {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.review {
    padding: 1.5rem;

    border-radius: 1rem;

    background: rgba(255,255,255,0.08);

    backdrop-filter: blur(6px);
    width: 320px;
    flex-shrink: 0; 
}

.review--text {
    line-height: 1.7;
    margin-bottom: 1rem;
}

.review--author {
    color: var(--accent);
    font-weight: 600;
}

.hero--reviews {
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.reviews--track {
    display: flex;
    gap: 10px;
    /* align-items: center; */
    justify-content: center;
}


/* **********Product Section****** */

.products {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    margin-block: 2rem;
}